.#<uispace>{
	width:667px;
}
.#<uispace> #storgeEdit{
	margin-top: 30px;
	margin-left: 24px;
}
.#<uispace> #storgeEdit tr td{
	padding-top: 4px;
}
.#<uispace> #storgeEdit tr td:nth-child(even){
	padding-right: 20px;
}
.#<uispace> .u-textbox{
	display: inline-block;
	width: 162px;
	height: 30px;
	margin-left: 5px;
	padding: 4px 12px;
	line-height: 20px;
	color: #666;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: middle;
}
.#<uispace> .u-textbox option{
	display: block;
	padding-top:2px;
} 
.#<uispace> [disabled]{
	background-color: #eee;
}
.#<uispace> .f-tac{
	text-align: right;
	margin-right: 35px;
}
