.#<uispace>{
	width:400px;
}

.#<uispace> table{
	width:100%
}
.#<uispace> table td{
	padding:10px 0;
}
.#<uispace> .iput{width:300px;}
.#<uispace> textarea{resize:none;width:480px;height:160px}
.#<uispace> .js-error{top:20px;left:0;color:red}
.#<uispace> .veriosnlbl{margin-left:40px}
.#<uispace> .url{width:376px;}
.#<uispace> .error,.#<uispace> .loading{margin-top:15px;}