<form id="searchForm" class="w-dataform f-clearfix">
    <div class="row f-cb">
        {{#if current == 1 && searchBox.importType == true}}
            <div class="group">
                <label>跨境方式：</label>
                <select name="importType">
                    <option value="">全部</option>
                    {{#list importTypeList as ops}}
                    <option value='{{ops.index}}'>{{ops.value}}</option>{{/list}}
                </select>
            </div>
        {{/if}}
        <div class="group">
            <label>所在仓库：</label>
            <select name="storageId">
                <option value="">全部</option>
                {{#list storages as ops}}
                <option value='{{ops.warehouseId}}'>{{ops.warehouseName}}</option>
                {{/list}}
            </select>
        </div>
        <div class="group">
            <label>关键字：</label>
            <input type="text" name="condition" placeholder="按照商品名称和条码搜索"/>
        </div>
        <div class="group">
        	<label>开始时间：</label>
            <input type="text" name="startTime" placeholder="开始时间" class="j-datepick" data-type="date"/>
        </div>
        <div class="group">
        	<label>截至：</label>
            <input type="text" name="endTime" placeholder="截止时间"  class="j-datepick"  data-type="date"/>
        </div>
        {{#if page == "relate"}}
        <input type="hidden" id="tabs" name="isRelated" value="{{current}}" />
        <div class="group">
            预计到港日期：
            <input type="text" data-type="date" class="j-datepick" name="start" value="" />
            到
            <input type="text" data-type="date" class="j-datepick" name="end" value=""/>
        </div>

        {{#else}}
        <input type="hidden" id="tabs" name="isRecorded" value="{{current}}">
        {{/if}}
        <div class="group">
            <button  name="submit" class="w-btn w-btn-black btag">查询</button>
        </div>
        {{#if current == 0}}
        <div class="group">
            <a href="javascript:;" name="submit" class="w-btn w-btn-black btag" on-click="{{this.exportFile()}}">导出</a>
        </div>
        {{/if}}
    </div>
</form>
