.a{background:url(http://a.b.com/a.png);}
.b{background:url('http://a.b.com/a.png');}
.c{background:url("http://a.b.com/a.png");}
.d{background:url(#@#<rs+E:/workspace/nej-toolkit/test/adapter/style/b.png>#@#);}
.e{background:url(#@#<rs+E:/workspace/nej-toolkit/test/adapter/style/b.png>#@#);}
.f{background:url(#@#<rs+E:/workspace/nej-toolkit/test/adapter/style/b.png>#@#);}
.g{background:url(/c.png);}
.h{background:url(/c.png);}
.i{background:url(/c.png);}
.j{background:url(data:image/gif;base64,R0lGODlhCwAOAMQfAP////7+/vj4+Hh4eHd3d/v7+/Dw8HV1dfLy8ubm5vX19e3t7fr6+nl5edra2nZ2dnx8fMHBwYODg/b29np6eujo6JGRkeHh4eTk5LCwsN3d3dfX13Jycp2dnevr6////yH5BAEAAB8ALAAAAAALAA4AAAVq4NFw1DNAX/o9imAsBtKpxKRd1+YEWUoIiUoiEWEAApIDMLGoRCyWiKThenkwDgeGMiggDLEXQkDoThCKNLpQDgjeAsY7MHgECgx8YR8oHwNHfwADBACGh4EDA4iGAYAEBAcQIg0DkgcEIQA7);}
.k{background:url('data:image/gif;base64,R0lGODlhCwAOAMQfAP////7+/vj4+Hh4eHd3d/v7+/Dw8HV1dfLy8ubm5vX19e3t7fr6+nl5edra2nZ2dnx8fMHBwYODg/b29np6eujo6JGRkeHh4eTk5LCwsN3d3dfX13Jycp2dnevr6////yH5BAEAAB8ALAAAAAALAA4AAAVq4NFw1DNAX/o9imAsBtKpxKRd1+YEWUoIiUoiEWEAApIDMLGoRCyWiKThenkwDgeGMiggDLEXQkDoThCKNLpQDgjeAsY7MHgECgx8YR8oHwNHfwADBACGh4EDA4iGAYAEBAcQIg0DkgcEIQA7');}
.l{background:url("data:image/gif;base64,R0lGODlhCwAOAMQfAP////7+/vj4+Hh4eHd3d/v7+/Dw8HV1dfLy8ubm5vX19e3t7fr6+nl5edra2nZ2dnx8fMHBwYODg/b29np6eujo6JGRkeHh4eTk5LCwsN3d3dfX13Jycp2dnevr6////yH5BAEAAB8ALAAAAAALAA4AAAVq4NFw1DNAX/o9imAsBtKpxKRd1+YEWUoIiUoiEWEAApIDMLGoRCyWiKThenkwDgeGMiggDLEXQkDoThCKNLpQDgjeAsY7MHgECgx8YR8oHwNHfwADBACGh4EDA4iGAYAEBAcQIg0DkgcEIQA7");}
.x{background:url(http://a.b.com/a.png?v=1);}
.y{background:url(#@#<rs+E:/workspace/nej-toolkit/test/adapter/style/b.png?t=2>#@#);}
.z{background:url(/c.png?i=567);}
.a1{background:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/a/a1.png>#@#no-repeat;}
.a2{background:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/a/a2.png>#@#no-repeat;}
.b1{background:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/b/b1.png>#@#no-repeat;}
.b2{background:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/b/b2.png>#@#no-repeat;}
.c1{background:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/d1.png>#@#no-repeat;}
.c2{background:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/d2.png>#@#no-repeat;}
.a1{background-image:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/a/a1.png?image>#@#;background-position:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/a/a1.png?position>#@#;}
.b1{background-image:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/b/b1.png?image>#@#;background-position:#@#<sp+E:/workspace/nej-toolkit/test/adapter/style/sp/b/b1.png?position>#@#;}
