{{#if loading}}
  <div class="m-loading">数据加载中...</div>
{{#else}}
  <div class="m-warehousestatics">
    <button class="f-fr w-btn w-btn-black addData" on-click={{this.addDeliveryInfo({})}}>新增</button>
    <table class="w-datatable">
      <thead>
        <tr>
          <th>序号</th>
          <th>仓库名称</th>
          <th>规则</th>
          <th>订单推送截止时间</th>
          <th>发货延后天数1</th>
          <th>发货截止时间1</th>
          <th>发货后延天数2</th>
          <th>发货截止时间2</th>
          <th>非工作日是否顺延</th>
          <th>后延小时数</th>
          <th>生效时间</th>
          <th>失效时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {{#if !!errmsg}}
      {{errmsg}}
      {{#else}}
        {{#if list.length==0}}
        没有列表数据！
        {{#else}}
        {{#list list as item}}
          <tr>
            <td>{{item_index+1}}</td>
            <td>{{warehouseMap[item.storageId]}}</td>
            <td>{{isDefault[item.isDefault]}}</td>
            <td>{{item.ruleType==1?(item.criticalTime.length==8?item.criticalTime.substring(0,5):item.criticalTime.substring(0,4)):'--'}}</td>
            <td>{{item.ruleType==1?item.delayDay1:'--'}}</td>
            <td>{{item.ruleType==1?(item.delayTimeDeadline1.length==8?item.delayTimeDeadline1.substring(0,5):item.delayTimeDeadline1.substring(0,4)):'--'}}</td>
            <td>{{item.ruleType==1?item.delayDay2:'--'}}</td>
            <td>{{item.ruleType==1?(item.delayTimeDeadline2.length==8?item.delayTimeDeadline2.substring(0,5):item.delayTimeDeadline2.substring(0,4)):'--'}}</td>
            <td>{{item.ruleType==1?(holidayDelay[item.holidayDelay]):'--'}}</td>
            <td>{{item.ruleType==2?(item.delayHours?item.delayHours:'--'):'--'}}</td>
            <td>{{item.isDefault==0?(item.availableStart?item.availableStart.substring(0,10):'--'):'--'}}</td>
            <td>{{item.isDefault==0?(item.availableEnd?item.availableEnd.substring(0,10):'--'):'--'}}</td>
            <td><button class="w-btn w-btn-black btag editData" on-click={{this.addDeliveryInfo(item, item_index)}}>编辑</button></td>
          </tr>
         {{/list}}
        {{/if}}
      {{/if}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="14">
            <div class="m-pager f-cb">
              <!-- <pager total={{Math.ceil(total/limit)}} current={{current}} on-nav="{{this.pageChange($event)}}"></pager> -->
              <pager total={{Math.ceil(total/limit)}} current={{pageNo}} on-nav="{{this.pageChange($event)}}"></pager>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
{{/if}}
