{{#if loading}}
  <div class="m-loading">数据加载中...</div>
{{#else}}
  <table class="w-datatable">
  <thead>
    <tr>
        <th colspan="6">时段内累计数据</th>
    </tr>
   </thead>
   <tbody>
    <tr>
    	<td>总推送数量:<span class="f-fwb">{{warehouse.pushTotal}}</span></td>
    	<td>已发货总数:<span class="f-fwb">{{warehouse.sentTotal}}</span></td>
    	<td>及时发货总数:<span class="f-fwb">{{warehouse.timelyTotal}}</span></td>
    	<td>发货率:<span class="f-fwb">{{warehouse.sentRatio}}</span></td>
    	<td>发货及时率:<span class="f-fwb">{{warehouse.timelyRatio}}</span></td>
    	<td>仓库发货总数:<span class="f-fwb">{{warehouse.total}}</span></td>
    </tr>
  </tbody>
  </table>
  <div class="m-warehousestatics">
  <div>仓库发货情况统计</div>
  <div></div>
  <table class="w-datatable">
  <thead>
    <tr>
    	<th colspan="10">仓库发货情况统计</th>
    </tr>
    
   </thead>
   <tbody>
	   <tr>
	    	<td colspan="10"><button class="f-fr w-btn w-btn-black btag m-sep">导出他部异常数据</button><button class="f-fr w-btn w-btn-black btag">导出统计数据</button></td>
	    </tr>
	   <tr>
	        <td>推送日期</td>
	        <td>订单数</td>
	        <td>已发货数</td>
	        <td>未发货数</td>
	        <td>及时发货数</td>
	        <td>发货率</td>
	        <td>发货及时率</td>
	        <td>统计日应发货数</td>
	        <td>统计日发货数</td>
	        <td></td>
	    </tr>
	  {{#list list as item}}
	    <tr>
	      <td>{{item.date}}</td>
	      <td>{{item.orders}}</td>
	      <td>{{item.sentOrders}}</td>
	      <td>{{item.notSentOrders}}</td>
	      <td>{{item.timelyOders}}</td>
	      <td>{{item.sentRatio}}</td>
	      <td>{{item.sentTimelyRatio}}</td>
	      <td>{{item.dailyShouldSentOrders}}</td>
	      <td>{{item.dailySentOrders}}</td>
	      <td><button class="w-btn w-btn-black btag " on-click={{this.exportDailyOrders(item)}}>导出异常订单</button></td>
	    </tr>
	  {{/list}}
  </tbody>
  </table>
  </div>
{{/if}}
<div class="m-pager f-cb">
	<pager total={{Math.ceil(total/limit)}} current={{current}} on-nav="{{this.pageChange($event)}}"></pager>
</div>