/**
 * 后台权限操作页面
 * 用户管理、角色管理、资源管理页面样式
 * Created by zmm on 18/11/14.
 */

/* 管理页面添加窗口、更新编辑窗口宽度设置  */
#J-addResourceBox,
#J-updateUserBox,
#J-addUserBox,
#J-addRoleBox {
    width: 500px;
    display: inline-block;
    margin-right: 15px;
}

#J-updateRoleListBox,
#J-roleListBox {
    display: inline-block;
    width: 320px;
    vertical-align: top;
}

#J-updateRoleListBox input,
#J-roleListBox input {
    height: 20px;
}
/* ******资源信息编辑页面*********************** */
#J-roleResouceList {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    margin-left: 5px;
}

#J-roleResouceList fieldset {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
#J-roleResouceList fieldset legend {
    margin-left: 60px;
    border: 1px solid #ababab;
    border-radius: 5px;
    background-color: #efefef;
}
#J-roleResouceList .operate-title{
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

#J-roleResouceList .submenu-list,
#J-roleResouceList .operate-list {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
    min-height: 50px;
    vertical-align: top;
    border-radius: 15px;
    border: 1px solid #e3e3e3;
    text-shadow: 0 0 1px #DDD;
    box-shadow: inset 0 0 0 1px #FAFAFA;
    background: -moz-linear-gradient(top,rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(30,87,153,0.2)),color-stop(100%,rgba(125,185,232,0)));
    background: -webkit-linear-gradient(top,rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom,rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
}
#J-roleResouceList .operate-list {
    margin-bottom: 20px;
}
#J-roleResouceList .submenu-list .w-notify,
#J-roleResouceList .operate-list .w-notify {
    display: block;
    position: absolute;
    top: -14px;
    left: -10px;
    height: 26px;
    line-height: 26px;
    padding: 0px 10px;
    font-size: 12px;
    text-shadow: 0 1px hsla(0,0%,0%,0.25);
    color: #fff;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 1px 1px hsla(0,0%,0%,0.08),inset 0 1px hsla(0,100%,100%,0.3);
}
#J-roleResouceList .submenu-list .w-notify {
    border-color: #0e80e5;
    background-color: #3399F3;
    background-image: -webkit-linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
    background-image: linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
}
#J-roleResouceList .operate-list .w-notify {
    border-color: #a15900;
    background-color: #d47500;
    background-image: -webkit-linear-gradient(#ff9c21, #d47500 50%, #c06a00);
    background-image: linear-gradient(#ff9c21, #d47500 50%, #c06a00);

}

/* 资源列表页 */
.resource-list{

}
.resource-list fieldset {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}
.resource-list fieldset legend {
    margin-left: 20px;
    font-weight: bold;
    padding: 5px;
}
.resource-list fieldset legend input{
    line-height: 34px;
    margin: 0 5px 1px 10px;
}
.resource-list fieldset legend span {
    font-weight: normal;
    font-size: 12px;
}
.resource-list .module {
    padding: 0 10px 20px;
}
.resource-list .module input[type='text']{
    margin-right: 20px;
    background-color: #EEE;
}
.resource-list .module .i-short{
    width: 50px;
}
.resource-list td.menu {
    text-align: center;
    color: #fff;
    border-color: #0e80e5;
    background-color: #3399F3;
    background-image: -webkit-linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
    background-image: linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
}
.resource-list td.oper {
    text-align: center;
    color: #fff;
    border-color: #a15900;
    background-color: #d47500;
    background-image: -webkit-linear-gradient(#ff9c21, #d47500 50%, #c06a00);
    background-image: linear-gradient(#ff9c21, #d47500 50%, #c06a00);
}
.resource-list fieldset.js-hide table {
    display: none;
}

.popo-wd{
    width: 320px;
}
.url-wd {
    width: 280px;
}
.import-btn,
.add-role-btn {
    display: block;
    margin-bottom: 15px;
    width: 130px;
}

.resetpsw {
    width:400px;
}
.resetpsw .group {
    margin-top: 30px;
}
.resetpsw .group-col1 {
    margin-top: 20px;
    margin-left: 105px;
}
.importbox {
    width: 700px;
}
.importbox .detail {
    margin-left: 20px;
}
.importbox #J-detail {
    min-width: 400px;
    min-height: 200px;
}