.#<uispace> .z-act{height:60px;line-height:60px;text-align:center;font-size:20px}
.#<uispace> .z-act .zfl,.#<uispace> .z-act .zfr{cursor:pointer}
.#<uispace> table{table-layout: fixed;width:100%}
.#<uispace> th{text-align:center;border:1px solid #ccc;}
.#<uispace> td{height:100px;border:1px solid #ccc;position:relative;text-align:center;}
.#<uispace> td .setbtn{display:none}
.#<uispace> td:hover .setbtn{position:absolute;bottom:0;right:0;display:block}
.#<uispace> .dis{color:#ccc;}
.#<uispace> .lbl{}
.#<uispace> .outmonth{color:#ccc}
.#<uispace> .weekend{background:#fff0f0}