.mdl-2 .pgr{padding:20px 0;text-align:center;}
.w-bit{line-height:24px;border-bottom:1px dotted #D8E0E5;overflow:hidden;}
.w-bit .inf span{margin-right:20px;color:#7B7B7B;}
.w-bit .xat a{margin-left:10px;}
