.m-modalbox tr,.m-productmdl tr{line-height:40px;}
.m-modalbox td,.m-productmdl td{padding:4px 4px}
.m-modalbox .email{width:200px;margin-right:5px}

.m-modalbox select{height: 25px;line-height: 25px;width: 150px;}
.m-modalbox select.z-dis{-webkit-appearance:none;border:none;}
.m-modalbox select.u-sel{width: 50px;}

.u-must{color: red;}
.u-ipt{padding:5px;font-size: 12px;width: 150px;}

