{{#if loading}}
  <div class="m-loading">数据加载中...</div>
{{#else}}
  <table class="w-datatable">
  <thead>
    <tr>
        <th>商品编号</th>
        <th>商品名称</th>
        <th>SKU</th>
        <th>后台库存</th>
        <th>备货周期</th>
        <th>库存天期(7天)</th>
        <th>库存天期(30天)</th>
    </tr>
  </thead>
  <tbody>
  {{#if noData}}没有列表数据！{{/if}}
  {{#list list as item}}
    <tr>
      <td>{{item.goodsId}}</td>
      <td>{{item.goodsName}}</td>
      <td>{{item.skuDesc}}</td>
      <td>{{item.storageCount}}</td>
      <td>{{item.stockUpPeriod}}</td>
      <td{{#if item.stockUpPeriod >= item.doi7}} class="bRed"{{/if}}>{{#if item.doi7 >= 2000000000}}近期无销售记录{{#else}}{{item.doi7}}{{/if}}</td>
      <td{{#if item.stockUpPeriod >= item.doi30}} class="bRed"{{/if}}>{{#if item.doi30 >= 2000000000}}近期无销售记录{{#else}}{{item.doi30}}{{/if}}</td>
    </tr>
  {{/list}}
  </tbody>
  </table>
{{/if}}
<div class="m-pager f-cb">
	<pager total={{Math.ceil(total/limit)}} current={{current}} on-nav="{{this.pageChange($event)}}"></pager>
</div>
