{{#if loading}}
  <div class="m-loading">数据加载中...</div>
{{#else}}
{{! type 1为审批单管理，2为待审批任务，3为我的审批单列表 4为已审批任务 !}}
  <table class="w-datatable w-supplychangtbl">
  <thead>
    <tr>
        <th>审批单号</th>
        {{#if type==4||type==2||type==1}}<th>申请人</th>{{/if}}
        <th>计划入库仓库</th>
        <th>供应商</th>
        <th>采购方式</th>
        <th>采购总件数</th>
        <th>SKU数</th>
        <th>审批单状态</th>
        <th>操作</th>
    </tr>
  </thead>
  <tbody>
 	  {{#if list.length!=0}}
	  {{#list list as item}}
	    <tr {{#if item.display==0}}class="m-disable"{{/if}}>
	      <td>{{item.auditNo}}</td>
	      {{#if type==4||type==2||type==1}}<td>{{item.creator}}({{item.name}})</td>{{/if}}
	      <td>{{item.warehouseName}}</td>
	      <td>{{item.supplierName}}</td>
	      <td>{{item.purchaseName}}</td>
	      <td>{{item.purchaseCount}}</td>
	      <td>{{item.skuCount}}</td>
	      <td>{{item.auditStatus|auditStatus}}</td>
	      <td>
	      	{{#if type==1}}
	      	<a href="/backend/auditMng/detail?auditId={{item.id}}" target="_blank">查看详情</a>
	      	{{#elseif type==2}}
	      	<a href="/backend/auditTask/detail?auditId={{item.id}}" target="_blank">查看详情</a>
	      	{{#elseif type==3}}
	      	<a href="/backend/myAudit/detail?auditId={{item.id}}" target="_blank">查看详情</a>
	      	{{/if}} 
	      	 {{#if item.canDelete&&type!=2&&type!=4}}<a on-click={{this.removeAudit(item_index)}} href="javascript:void(0);">删除</a>{{/if}} 
	      	 <a href="/backend/myAuditList/task/export?id={{item.id}}">导出</a></td>
	    </tr>
	  {{/list}}
	  {{#else}}
	  <tr>
	      <td colspan=9><div class="m-empty">暂时没有数据</div></td>
	    </tr>
	  {{/if}}
  </tbody>
  </table>
{{/if}}
<div class="m-pager f-cb">
	<pager total={{Math.ceil(total/pageSize)}} current={{current}}></pager>
</div>