/* 模块 */
/* 顶部 */
.m-nav{
	margin-bottom:10px;
}

/* 搜索模块 */
.m-search{
	width:100%;
	padding-top:20px;
	margin-bottom:20px;
	border:1px solid #000;
	background-color:#fff;
}
.m-search h3{
	margin:0 0 20px 26px;
	font-size:16px;
	font-weight:bold;
}

.m-search .timerange{
	display:inline-block;
}
.m-search .timerange input{
	width:120px;
}
.m-search .timerange input:last-child{
	margin-left:0;
}
.m-search .w-btn{
	margin-left:40px;
}
.m-search-1{
	padding:20px;
}
.m-search-1 .item{
	float:left;
	margin:0 100px 20px 0;
}
.m-search-1 .item span{
	font-weight:bold;
}
.m-search-1 .item .txt{
	width:180px;
	font-weight:normal;
	text-align:left;
}
.m-search-1 .desc{
	border:1px solid #000;
	width:800px;
	padding:10px;
	margin:10px 0 0 0;
	word-wrap: break-word;
	word-break: break-all;
}

/* 内容表格 */
.m-content{
	border:1px solid #000;
	background-color:#fff;
}
.m-content table{
	width:100%;
}
.m-content th{
	height:30px;
	text-align:center;
}
.m-content td{
	padding:5px 0;
	border-top:1px solid #000;
	text-align:center;
}
.m-content td a, .m-content td a:hover{
	color:#06f;
}

.m-fixPag{
	padding:10px;
	background-color:#ddd;
}
.m-fixPag .pager{
	float:right;
}

/* 浮层内容 */
.m-layer{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.m-layer .bg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.3;
	z-index:3;
}
.m-layer .cnt{
	position:relative;
	top:0;
	left:0;
	width:900px;
	height:100%;
	min-width:860px;
	margin:0 auto;
	padding:20px 0;
	z-index:4;
}
.m-layer .box{
	padding:15px;
	border:1px solid #000;
	background-color:#fff;
}
.m-layer .wrap{

}
.m-layer h3{
	margin:10px 0 10px 0;
	font-size:16px;
	font-weight:bold;
}
.m-layer .item{
	float:left;
	margin:0 30px 20px 10px;
}
.m-layer .item span{
	display:inline-block;
	width:70px;
	text-align:center;
}
.m-layer .txt{
	
}
.m-layer .btnbox {
	float: right;
	margin-top: 20px;
}

/* 回复列表 */
.m-replylist .item{
	width:100%;
	margin:10px auto;
	background-color:#fff;
	border:1px solid #000;
}
.m-replylist .info span{
	display:inline-block;
	padding:5px 10px;
}
.m-replylist .info .user{
	width:600px;
	border-right:1px solid #000;
}
.m-replylist .item p{
	padding:5px 10px;
	border-top:1px solid #000;
	word-wrap: break-word;
	word-break: break-all;
}
.m-replylist .input{
	padding:10px;
	border:1px solid #000;
	background-color:#fff;
}
.m-replylist textarea{
	width:100%;
	min-height:80px;
	border:0;
	font-size:14px;
}
.m-replylist input{
	float:right;
	padding:5px;
	margin:20px 0 40px;
}

.w-dataform .group{
	float:left;
}

.w-btn:hover{
	margin-top: 0px;
	border-bottom-width: 4px;
}