.g-body .left{
	float:left;
	width:50%;
}
.g-body .right{
	float:right;
	width:48%;
}

.g-body .addbtn{
	margin-bottom: 10px;
}

/* 表格内容区块 */
.m-content{}
.m-content table{
	width:100%;
	text-align:center;
}
.m-content thead{
	line-height:24px;
}
.m-content th{
	padding:8px 0;
	text-align:center;
}
.m-content td{
	border:0px;
	border-bottom:1px solid #bbb;
	word-break: break-all;
	border:1px solid #bbb;
}
.m-content .hasborder td{
	border:1px solid #bbb;
}
.m-content .list tr{
	border-bottom:1px solid #000;
}
.m-content .list .active{
	background-color: #ddd;
}
.m-content .list tr:hover{
	background-color:#eee;
}
.m-content td a, .m-content td a:hover{
	color:#06f;
}

/* 翻页器样式 */
.m-fixPag{
	padding:10px;
	background-color:#ddd;
}

.m-fixPag .pager{
	float:right;
}

/* 重写btn控件的hover样式 */
a.w-btn,a.w-btn:hover {
    transition:0s;
}

.f-cb:after{
	clear:both;content:'.';display:block;height:0;visibility:hidden;overflow:hidden;
}
.f-cb{zoom:1;
}
.f-mr40{
	margin-right:40px;
}
.f-mr140{
	margin-right:140px;
}
.f-w115{
	width:115px;
}

#total{
	display:inline-block; margin-left:20px;
}