/*[name=from],[name=to]{width:80px;}*/
[data-type=date]{width:100px;}

#searchForm{
	display: inline-block;
	float: right;
}
.export{
	float: left;
}

.w-dataform .group label{
	/*width: 60px;*/
  	height: 30px;
  	line-height: 30px;
}

.bRed{background-color: #ff291c}

.w-datatable {
	width: 1605px;
}

.w-datatable th, .w-datatable td {
	padding: 4px 0;
	border:1px solid #ddd;
	text-align: center;
	font-size: 12px;
}
.w-datatable th{
	border-bottom:3px solid #ccc;
}
.w-datatable .title th{
	font-weight: bold;
	background-color: #f2f2f2;
	border-bottom:1px solid #ddd;
}

.w-datatable .export{
	cursor: pointer;
	color: #03f;
}

.tablebox{
	overflow-x: scroll;
}

.top{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #ddd;
	padding: 0 10px;
}

.top .text{
	font-weight: bold;
}

.top .export{
	float: right;
	line-height: 40px;
	cursor: pointer;
	color: #03f;
}