.m-layer{
	display: none;
	position: fixed;
	top: 50px;
	left: 50%;
	width: 900px;
	margin-left: -450px;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 0 0 25px 12px #ccc;
    background-color: #fff;
}

.m-layer .title{
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    padding-left: 5px;
    color: #fff; 
    background-color: #158cba;
}

.m-layer .content{
    padding: 40px 15px;
    font-size: 14px;
}

.m-layer .group {
	margin-bottom: 20px;
}

.m-layer .intext {
	display: inline-block;
	min-width: 70px;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
	line-height: 30px;
}

.m-layer .options .intext {
	text-align: right;
	min-width: inherit;
}

.m-layer .options select {
	margin-right: 20px;
}

.m-layer .content input {
	height: 30px;
	padding: 5px 10px;
	line-height: 20px;
}

.m-layer hr {
	margin: 30px 0;
}

.m-layer .controls {
    padding: 6px; 

    text-align: right;
}
.m-layer .ok,.cc {
    padding: 5px 20px;
	margin-left: 20px;
	font-size: 14px;
}
.m-layer .ok[disabled],.cc[disabled]
{
    opacity: .8; 
    color: rgb(187, 187, 187);
}
.m-layer .itemlist,
.m-layer .itementry
{
    margin: 0; 

    list-style: none;
}
.m-layer .itemlist
{
    overflow-x: hidden; 
    overflow-y: auto;

    width: 400px;
    height: 400px;
    padding: 5px;

    border: 1px solid #ccc;
}
.m-layer .item
{
    display: block;
}
.m-layer .item:hover
{
    background-color: #ddd;
}
.m-layer .item > input
{
    margin-right: 12px;
}
.m-layer .sku
{
    padding-left: 24px;
}
.m-layer .f-hightlight
{
    font-size: 16px; 
    color: #f60;
}
.m-layer .simple-content
{
    font-weight: bold; 
    position: relative;
    width: 350px;
    padding: 50px 0 50px 30px;
}
.m-layer .confirm-content
{
    position: relative;
    width: 400px;
    min-height: 160px;
}
.m-layer .confirm-text
{
    font-weight: bold;
}
.m-layer .confirm-memo
{
    width: 360px;
    height: 100px;
    vertical-align: top;
}
.m-layer .f-required:before
{
    content: '*';
    color: #f60;
}

/*.w-datatable th {
	white-space: nowrap;
}*/

.f-red {
	color:red;
}
