{{#if loading}}
<div class="m-loading">数据加载中...</div>
{{#else}}

<table class="w-datatable">
    <thead>
        <tr>
            <th>审批单号</th>
            <th>创建人</th>
            <th>计划入库仓库</th>
            <th>供应商</th>
            <th>采购方式</th>
            <th>采购总件数</th>
            <th>SKU数</th>
            <th>跟踪采购单数</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {{#list list as item}}
        <tr>
            <td>{{@(item.auditNo)}}</td>
            <td>{{@(item.creator)}}{{@(item.name)}}</td>
            <td>{{@(item.warehouseName)}}</td>
            <td>{{@(item.supplierName)}}</td>
            <td>{{@(item.purchaseName)}}</td>
            <td>{{@(item.purchaseCount)}}</td>
            <td>{{@(item.skuCount)}}</td>
            <td>{{@(item.trackTaskDtos.length)}}</td>
            <td>
            {{#if item.trackStatus == '0'}} {{! 未跟单任务 !}}
                <a href="/backend/supplychain/tracktask/detail?auditId={{@(item.id)}}" target="_blank">进入跟单</a>
            {{#elseif item.trackStatus == '1'}}{{! 跟单中任务  !}}
                <a href="/backend/supplychain/tracktask/detail?auditId={{@(item.id)}}" target="_blank">进入跟单</a>
                <a href="javascript:void(0);" on-click={{this.show(event,item)}}>{{item.show?'收起':'展开'}}</a>
            {{#elseif item.trackStatus == '2'}}{{! 跟单完成任务便于查询 !}}
                <a href="/backend/supplychain/tracktask/detail?auditId={{@(item.id)}}" target="_blank">查看详情</a>
                <a href="javascript:void(0);" target="_blank" on-click={{this.show(event,item)}}>{{item.show?'收起':'展开'}}</a>
            {{/if}}
            </td>
        </tr>
            {{#if item.trackTaskDtos}}
            <tr r-hide={{!item.show}} >
                <td colspan="9" class="item">
                    <table class=" m-tracklist">
                    {{#list item.trackTaskDtos as subitem}}
                    <tr class="item">
                            <td class="text">采购单:<a href="/backend/invoicing/order?id={{subitem.purchaseOrderId}}" target="_blank">{{@(subitem.purchaseOrderId)}}</a></td>
                            <td class="text">到港日期:<b>{{@(subitem.arrivalPortTime|format)}}</b></td>
                            <td class="text">单据提交时间:<b>{{@(subitem.docRequiredTime|format)}}</b></td>
                            <td class="text">运输方式:<b>{{@(subitem.transportWayStr)}}</b></td>
                            <td class="text">提单号:<b>{{@(subitem.ladingNumber)}}</b></td>
                            <td class="text">入库仓库:<b>{{@(subitem.purchaseOrder.storageName)}}</b></td>
                            <td class="text">状态:<b>{{@(subitem.purchaseOrderStatusStr)}}</b></td>
                    </tr>
                    {{/list}}
                    </table>
                </td>
            </tr>
            {{/if}}
        {{/list}}
    </tbody>
</table>
{{/if}}
<div class="m-pager f-cb">
    <pager total={{Math.ceil(total/limit)}} current={{current}} on-nav="{{this.pageChange($event)}}"></pager>
</div>