.m-confighd{
	height:40px;line-height:40px;border-bottom:1px solid #ccc;
}
.m-warehousebox{padding:15px 0;}
.m-warehousebox li{float:left;margin-right:15px;padding:4px 8px;background:#ddd;}
#configbox{padding:10px;}
.m-warehousemodal talbe td{padding:4px;}