* {
  margin:0; padding:0; border:0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea:hover, 
input:hover, 
textarea:active, 
select:active,
input:active, 
select:focus,
select:hover,
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
a:focus,
a:active
{
    outline:0px !important;
}

.m-databox select, .m-databox select:focus, .m-databox select:active, .m-databox input { border:1px solid #ccc; }
.w-dataform button, .w-btn { padding:3px 15px; }
#list { color:#666; }
#count { font-size:12px; }
.modal-dialog { top:100px; }

.datepick { left:0; }