{{#if loading}}
  <div class="m-loading">数据加载中...</div>
{{#else}}
  <table class="w-datatable">
  <thead>
    <tr class="title">
        <th></th>
        <th colspan="2">系统总任务</th>
        <th colspan="3">仓库未跟进任务</th>
        <th colspan="3">仓库已跟进任务</th>
    </tr>
    <tr>
        <th>支付日期</th>
        <th>已支付订单</th>
        <th>取消订单</th>
        <th>未处理订单</th>
        <th>未推送订单</th>
        <th>已推送未未处理</th>
        <th>已处理订单</th>
        <th>已处理未发货</th>
        <th>已发货订单</th>
    </tr>
  </thead>
  <tbody>
  {{#if noData}}没有列表数据！{{/if}}
  {{#list list as item}}
    <tr>
      <td>{{item.date.split(" ")[0]}}</td>
      <td>{{item.totalPayed}}</td>
      <td>{{item.cancelCount}}</td>
      <td>{{item.storageNotHandleCount}}</td>
      <td>{{item.notPushToStorageCount}}</td>
      <td>{{item.pushedAndNotHandleCount}}</td>
      <td>{{item.storageHandleCount}}</td>
      <td>{{item.handleAndNotOutCount}}</td>
      <td>{{item.handleAndOutCount}}</td>
    </tr>
  {{/list}}
  </tbody>
  </table>
{{/if}}
<div class="m-pager f-cb">
	<pager total={{Math.ceil(total/limit)}} current={{current}} on-nav="{{this.pageChange($event)}}"></pager>
</div>
