.a1{background:url(/res/sprite/a/a1.png) no-repeat;}
.a2{background:url(/res/sprite/a/a2.png) no-repeat;}
.b1{background:url(/res/sprite/b/b1.png) no-repeat;}
.b2{background:url(/res/sprite/b/b2.png) no-repeat;}
.c1{background:url(/res/sprite/d1.png) no-repeat;}
.c2{background:url(/res/sprite/d2.png) no-repeat;}
.a1{background-image:url(/res/sprite/a/a1.png);}
.b1{background-image:url(/res/sprite/b/b1.png);}
.c1{background-image:url(/res/sprite/icon/a1.png);}
.d1{background-image:url(/res/sprite/icon/b1.png);}