body{
	
}

/* 上部搜索模块 */
.m-upside{
	margin-bottom:10px;
	line-height:26px;
}
.m-upside .item{
	float:left;
	position:relative;
	margin-right:20px;
}
.m-upside input{
	height:24px;
	padding-left:5px;
	border:1px solid #000;
	outline:none;
	line-height:12px;
}
.m-upside select{
	height:26px;
	padding-left:5px;
}
.m-upside a{
	display:inline-block;
	padding:0 10px;
}
.m-upside .supplier{
	margin-right:140px;
}
.m-upside .supplier input{
	width:110px;
	height:24px;
	padding-left:5px;
}
.m-upside ul{
	position:absolute;
	left:52px;
	top:26px;
	width:115px;
	background-color:#fff;
	border:1px solid #000;
	border-top:none;
}
.m-upside ul li{
	padding-left:5px;
}
.m-upside ul li:hover{
	background-color:#06f;
	color:#fff;
}

/* 表格内容区块 */
.m-content{}
.m-content table{
	width:100%;
	text-align:center;
}
.m-content thead{
	line-height:24px;
}
.m-content th{
	padding:8px 0;
	text-align:center;
}
.m-content td{
	border:0px;
	border-bottom:1px solid #bbb;
	word-break: break-all;
}
.m-content .hasborder td{
	border:1px solid #bbb;
}
.m-content .list tr{
	border-bottom:1px solid #000;
}
.m-content .list tr:hover{
	background-color:#eee;
}
.m-content td a, .m-content td a:hover{
	color:#06f;
}
.m-content .details{
	padding:15px 0;
	border-top:2px solid #000;
}
.m-content #checkBtn{
	margin-top:20px;
	text-align:center;
}
.m-content #checkBtn button{
	padding:0 10px;
	line-height:24px;
	cursor:pointer;
}
.m-content .remark{
	margin-top:20px;
	padding: 10px 10px 40px;
	background-color: #eee;
}
.m-content b{
	font-weight:bold;
}

/* 翻页器样式 */
.m-fixPag{
	padding:10px;
	background-color:#ddd;
}
.m-fixPag .pageinfo{
	float:right;
	margin-right:20px;
}
.m-fixPag input{
	width:40px;
	height:20px;
	padding:10px;
	margin-left:20px;
}
.m-fixPag button{
	padding:5px 10px;
	margin-left:20px;
}
.m-fixPag span{
	margin-left:20px;
}
.m-fixPag .pager{
	float:right;
}

/* 重写btn控件的hover样式 */
a.w-btn,a.w-btn:hover {
    transition:0s;
}

.f-cb:after{
	clear:both;content:'.';display:block;height:0;visibility:hidden;overflow:hidden;
}
.f-cb{zoom:1;
}
.f-mr40{
	margin-right:40px;
}
.f-mr140{
	margin-right:140px;
}
.f-w115{
	width:115px;
}

#total{
	display:inline-block; margin-left:20px;
}
.expemail {
    min-width: 210px;
    height: 35px;
    padding: 8px 12px;
    line-height: 20px;
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
