<div class="m-confighd">
	<span class="f-fw1">先关联商品再备案</span>
	<a class="f-fr addstorage" href="javascript:void(0);" on-click={{this.onAddStorage(1)}}>添加仓库</a>
</div>
<ul class="m-warehousebox f-cb">
	{{#list relateRecordConfigsList as item}}
		<li>{{item.storageName}} <span class="icf-cross" on-click={{this.onRemoveStorage(relateRecordConfigsList,item_index,item.id)}}>&nbsp;</span></li>
	{{/list}}
</ul>
<div class="m-confighd">
	<span class="f-fw1">先备案商品再关联</span>
	<a class="f-fr addstorage" href="javascript:void(0);" on-click={{this.onAddStorage(2)}}>添加仓库</a>
</div>
<ul class="m-warehousebox f-cb">
	{{#list recordRelateConfigsList as item}}
		<li>{{item.storageName}} <span class="icf-cross" on-click={{this.onRemoveStorage(recordRelateConfigsList,item_index,item.id)}}>&nbsp;</span></li>
	{{/list}}
</ul>
<div class="m-confighd">
	<span class="f-fw1">无需备案</span>
	<a class="f-fr addstorage" href="javascript:void(0);" on-click={{this.onAddStorage(3)}}>添加仓库</a>
</div>
<ul class="m-warehousebox f-cb">
	{{#list onlyRelateConfigsList as item}}
		<li>{{item.storageName}} <span class="icf-cross" on-click={{this.onRemoveStorage(onlyRelateConfigsList,item_index,item.id)}}>&nbsp;</span></li>
	{{/list}}
</ul>