.#<uispace>{
	width:600px;
}
.#<uispace> table{
	margin-left: 10px;
	margin-top: 20px;
}
.#<uispace> table tr td{
	padding: 2px;
}
.#<uispace> table tr td span{
	padding: 10px;
	font-size: 12px;
}
.#<uispace> .u-textbox{
	display: inline-block;
	width: 300px;
	height: 35px;
	margin-left: 5px;
	padding: 8px 12px;
	line-height: 20px;
	color: #666;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: middle;
}
.#<uispace> .f-tac {
	text-align: right;
}