a{color:#21759B;}
html{overflow-y:scroll;}
/* clear float */
.f-xcb{zoom:1;}
.f-xcb:after{display:block;clear:both;visibility:hidden;height:0;content:".";}
.f-xcb .fl{float:left;}
.f-xcb .fr{float:right;}
/* widget - module */
.w-mdl .xtl{margin-bottom:15px;font-size:20px;font-weight:normal;text-align:left;}
/* widget - tab */
.w-tab{height:24px;line-height:23px;border-bottom:1px solid #bbb;text-align:center;}
.w-tab .itm{display:block;width:90px;margin-right:-1px;border:1px solid #bbb;color:#21759B;background:#F7F7F7;cursor:pointer;}
.w-tab .itm:hover{text-decoration:none;}
.w-tab .itm.js-selected{color:#333;background:#fff;border-bottom-color:#fff;cursor:default;}
/* right block */
.w-blk{line-height:20px;padding:10px;margin-bottom:20px;background:#FAFAFA;border:1px solid #F5F5F5;text-align:left;}
.w-blk .ytl{padding-bottom:5px;color:#7E7E7E;font-weight:bold;}
.w-blk .ybx .yit{margin-right:8px;}
.w-blk .ybx .js-selected{background:#ECECEC;}

.w-lyx .lyr{width:200px;margin-left:-200px;}
.w-lyx .lym{margin-right:200px;padding-right:15px;}

.w-mtb{width:100%;table-layout:fixed;border-collapse:collapse;}
.w-mtb td{line-height:20px;padding:10px;border-bottom:1px dotted #bbb;vertical-align:top;}
.w-mtb .x td{border-bottom:0;}
.w-mtb .c0{width:70px;text-align:right;}
.w-mtb .c2{width:80px;}
.w-mtb .wd0{width:260px;}
.w-mtb .wd1{width:140px;}
.w-mtb textarea{height:100px;}
.w-mtb .btn{padding:5px 10px;}


.w-loading{height:300px;background:url(../../res/image/loading.gif) no-repeat center center;}
.w-message{height:300px;line-height:300px;text-align:center;}

#www-wd-com .w-pager .zbtn,
#www-wd-com .w-pager .zpgi{border:0;}


.w-ltb{width:150px;margin-right:-150px;border-right:1px solid #bbb;text-align:center;}
.w-ltb .itm{display:block;height:30px;line-height:30px;margin:5px 0;color:#21759B;font-size:14px;}
.w-ltb .itm.js-selected,.w-ltb .itm:hover{background:#ECECEC;text-decoration:none;}

.mdl-0{overflow:hidden;}
.mdl-0 .m0-m{margin-left:150px;padding:0 10px;border-left:1px solid #bbb;}

.mdl-2 .pgr{padding:20px 0;text-align:center;}
.w-bit{line-height:24px;border-bottom:1px dotted #D8E0E5;overflow:hidden;}
.w-bit .inf span{margin-right:20px;color:#7B7B7B;}
.w-bit .xat a{margin-left:10px;}

.mdl-3 a{color:#21759B;}
.mdl-3 .m3-t{padding:15px 0;}
.mdl-3 .m3-t .sp{margin:0 8px;}
.mdl-3 .m3-t .js-selected{color:#333;cursor:default;}
.mdl-3 .m3-t .js-selected:hover{text-decoration:none;}
.mdl-3 .m3-t .sbx,
.mdl-3 .js-ntbx .tbx{display:none;}
.mdl-3 .js-ntbx .sbx{display:block;}

.mdl-4{padding:20px 0;}
.mdl-4 .lym .it{width:33%;line-height:24px;}
.mdl-4 .lym .sp{margin:0 10px;color:#A47BA4;}

.w-atb{padding:10px 0;}
.w-atb .sp{margin:0 10px;}
.w-atb .js-selected{color:#333;cursor:default;}
.w-atb .js-selected:hover{text-decoration:none;}

.mdl-d .mtl{font-weight:bold;padding:5px 0;border-bottom:1px solid #BBBBBB;}
.mdl-d .w-mtb td{border:0;}

.mdl-e{padding-bottom:30px;}
.mdl-e .jat input{margin-left:20px;padding:5px 10px;}

.w-jlk{margin:15px 0;}
.w-jlk .jtl{padding:5px 20px;border-bottom:1px solid #BBBBBB;font-weight:bold;}
.w-jlk .jbx{padding:10px 20px;}
.w-jlk .jbx p{margin:5px 0;}








